<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Techno-Reservation</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Techno-Reservation</h1>    <!-- name of user form -->
    <hr >
    <h2>Save Reservation</h2>

    <!-- url for save user details which is from controller class and method will be post -->
    <form action="#" th:action="@{/saveReservation}" th:object="${reservation}" method="POST">
        <!-- these are the fields of form -->
        <input type="hidden" th:field="*{id}" placeholder="Reservation Id" class="form-control mb-4 col-4">

        <input type="text" th:field="*{typeOfReservation}" placeholder="TypeOfReservation" class="form-control mb-4 col-4">

        <input type="text" th:field="*{modeOfTransaction}" placeholder="ModeOfTransaction" class="form-control mb-4 col-4">

        <input type="date" th:field="*{dateOfReservation}" placeholder="DateOfReservation" class="form-control mb-4 col-4">

        <input type="text" th:field="*{tenureOfReservation}" placeholder="TenureOfReservation" class="form-control mb-4 col-4">



        <button type="submit" class="btn btn-info col-2"> Save Reservation</button>   <!-- this is submit button -->
    </form>

    <hr>

    <a th:href="@{/}"> Back to Reservation List</a>   <!--  this is link for go to index or user details page -->
</div>
</body>

</html>
